.login-container{
    display: flex;
    background-color: rgb(20, 235, 0);
    max-width: 600px;
    padding: 20px;
    margin-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
}

.form-headings{
    color: white;
}

.register-container{
    display: flex;
    background-color: rgb(20, 235, 0);
    max-width: 600px;
    padding: 20px;
    margin-top: 30px;
}


.register-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    gap: 1em;
    background: url(https://www.wallpapertip.com/wmimgs/167-1677724_technology-website-background-images-hd.jpg);
  }
